/*  Douglas Aquilino       February 18, 2017    */
/*  RCB - Trivia Game"     Homework #5          */
/*                style.css                     */


/*********************** general styling ******************/

body
{
	background-image: url("../images/bg.jpg");
	margin-top: 20px;
}

/*class to set opacity to background only*/
.transparent {background: rgba(65,74,76,0.8);}

.center-block {float: none;}

/******************* #title styling ******************/

#title
{
	margin-top:0px;
 	color: white;			
	font-family:Impact,sans-serif;
 }

/******************* #play button styling ******************/

.btn
{
	font-weight: 600;
	width:200px;
	color: black;
	background: white;
	border: 1px solid black;
}

.btn:hover
{
	color:white;
	background: black;
}

.btn:active
{
	color: black;
	background: white;
}

/******************* #main .jumbotron styling ******************/

.jumbotron
{
	padding-top: 0px;
	padding-bottom:30px;
	max-height: 650px;  
	position:relative;
	z-index: 1;
}

.jumbotron h1,
.jumbotron p
{
	font-weight: 900;
}

.jumbotron p
{
	font-size: 2em;
}

.panel-body
{
	background: black;
	height: 420px;
	margin-bottom: 30px;
	border-radius: 25px;
	color: white;	
}
/********************* panels styling *********************/
#instructions-panel, #question-panel, #results-panel
{
	width: 100%;
	position:relative;
}

#question-panel, #results-panel
{
	z-index: 100;
	position: absolute;
	top: 0px;
	left:0px;
	visibility: hidden;
}

/**************** #instruction-panel style *****************/

#instructions-panel
{
	z-index: 1;
	padding-top:9%;
}

.glyphicon-flag
{    
    font-size: 1em;   
    margin-right: 20px;
    color: blue;
}

/**************** question-panel style *****************/

#flag-image, #gif
{
	width:250px;
	margin: 0 auto;
	border: 1px solid white;
}

#flag-div 
{
	height:170px;
}

#gif-div
{
	height: 180px;
}

/**************** results panel style ******************/

#results-panel
{
	z-index: 200;
	padding-top: 10px;  /*was 100*/
}

#results-panel p
{
	font-size: 3em;
}

p.answers
{
	margin: 5px auto;
	width:300px;              
	font-size: 1.5em;
	border-radius: 10px;
}

p.answers:hover
{
	color:black;
	background:white;
}






